/* navbar layouting started */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5ebdc;
}
.light{
    background-color: #f5ebdc;
}
.red{
    color: #ff0000;
}
.border-color{
    border-color: #502314;
}
#icon{
    font-size: 170%;
    color: #502314;
}
#logo{
    width: 5%;
}
.bg-red{
    background-color: #ff0000;
}
.text-decoration{
    text-decoration: none;
}
.bg-brown{
    background-color: #502314;
}
.margin{
    margin-left: 550px;
}

.head{
    color: #502314;
    font-size: 110%;
    margin: 5px 30px 5px;
}
.head-2{
    color: #502314;
    font-size: 90%;
    margin: 5px -20px 5px;
}

.heading{
    color: #502314;
    font-size: 3rem;
    margin: 5px 90px 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* navbar layouting ended */
@media(min-width:1200px){
    #icon{
        display: block;
        font-size: 170%;
        color: #502314;
    }
    #logo{
        width: 5%;
    }


}